.navigation {
  display: none;
  position: fixed;
  left: 82px;
  top: 50px;
  width: 320px;
  padding-right: 25px;
  padding-left: 25px;
  margin: 0 auto;
  background-color: rgba(146, 5, 64, 1);
}
.navigation .nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation_list--item {
  padding-top: 10px;
}
.navigation .nav__list:last-child {
  padding-bottom: 10px;
}
.nav__list .navigation_list--item a {
  color: #fff;
}
