.transactions {
  max-width: 780px;
  position: relative;
}

.transaction__title {
  font-size: 20px;
  margin-top: 60px;
}
.transaction__text {
  padding-top: 15px;
}

.transaction__title {
  font-weight: bold;
}

.transaction__list {
  list-style: none;
  margin-top: 40px;
}

.transaction__list .list__item {
  padding-top: 22px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #ac162c;
    top: 27.5px; 
    left: -32px;
  }
}

.transaction__text--bold {
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 1200px) { 
  .transactions {
    max-width: 600px
  }
}
@media (max-width: 930px) {
  .transactions {
    max-width: 540px;
  }
  .transaction__list {
    margin-top: 20px;
  }
  .transaction__title {
    margin-top: 20px;
  }
  .transaction__text {
    padding: 0;
  }
}
@media (max-width: 640px) {
  .transactions {
    width: 320px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .transaction__list {
    margin: 0;
  }
  .transaction__list .list__item {
    margin: 0;
    padding-top: 10px;
    &::before { 
      top: 17.4px; 
    }
  }
}